.header__nav {
  display: flex;
  align-items: center;
}

.header__signup {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

.header__signin {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 3px;
  max-width: 76px;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
}

.header__link-container {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.header__profile-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.header__profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-left: 13px;
}

.header__profile-container_black {
  background-color: #000;
}

.header__profile-container_grey {
  background-color: #f9f9f9;
}

.header__link.header__link_active {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .header__nav.burger {
    flex-direction: column;
    padding: 159px 0 0;
    gap: 28px;
    height: 100%;
  }

  .header__link-container {
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 0;
    padding: 0;
  }

  .header__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .header__profile-link {
    margin: auto 0 251px;
  }
  .header__link.header__link_active {
    text-decoration: underline;
  }
}

@media screen and (max-width: 767px) {
  .header__signup {
    font-size: 10px;
    margin-right: 14px;
  }

  .header__signin {
    font-size: 10px;
    padding: 5px 12px;
    max-width: 54px;
    width: 100%;
  }

  .header__profile-link {
    margin: auto 0 207px;
  }
}
