.about-project {
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-project__info {
  margin: 70px 0 0;
  padding: 0;
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about-project__info-element {
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.about-project__info-title {
  margin: 0 0 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__info-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline {
  margin: 110px 0 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 1140px;
  list-style: none;
}

.about-project__timeline-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-project__timeline-title {
  margin: 0;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timeline-title_complete {
  background-color: #000000;
  color: #ffffff;
}

.about-project__timeline-title_color_grey {
  background-color: #f2f2f2;
}

.about-project__timeline-subtitle {
  margin: 14px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__info {
    gap: 37px;
  }

  .about-project__info-title {
    margin: 0 0 22px;
  }

  .about-project__info-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline {
    margin: 93px 0 0;
    grid-template-columns: 140px auto;
  }
}
@media screen and (max-width: 767px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__info {
    flex-direction: column;
    margin: 60px 0 0;
    gap: 56px;
  }

  .about-project__info-title {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__info-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline {
    margin: 60px 0 0;
    grid-template-columns: 100px auto;
  }

  .about-project__timeline-title {
    min-height: 35px;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timeline-subtitle {
    font-size: 11px;
    line-height: 13px;
    margin: 10px 0 0;
  }
}
